body, html {
    height: 100%;
    width: 100%;
    font-weight: 10;
    margin: 0px;
  }
  .page-theme {
      background-color: #4a4b4c;
  }
  .content-width {
    width: 80%;
    margin: auto;
  }
  .div-books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-content: space-between;
    flex: 1 0 calc(33.333% - 20px);
  }